.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll_bar_body {
  overflow-y: scroll;
  height: 88vh;
}

.scroll_bar_body::-webkit-scrollbar {
  margin-left: 10px;
  height: 10px;
  border-radius: 10px;
  width: 1px;
}

.scroll_bar_body::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #212125;
  border-radius: 10px;
}

/* common input field style */

.form-group .form-control {
  width: 100%;
  font-size: 16px;
  vertical-align: middle;
  color: rgb(51, 71, 91) !important;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(203, 214, 226);
  border-radius: 3px;
  padding: 9px 10px;
  height: auto;
  min-height: 40px;
  resize: none;
  font-weight: 400 !important;
  outline: none;
}

.form-group label {
  font-weight: 500;
  font-size: 14px;
}

/*common offcanvas body scrollbar style */
.offcanvas .offcanvas-body::-webkit-scrollbar {
  margin-left: 10px;
  height: 10px;
  border-radius: 10px;
  width: 5px;
}

.offcanvas .offcanvas-body::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #212125;
  border-radius: 10px;
}

/* offcanvas common style */
.offcanvas .offcanvas-header {
  background-color: #00bda5;
}

.offcanvas .offcanvas-title {
  color: #fff;
  font-size: 18px;
}
.offcanvas .offcanvas-title .btn-close {
  color: #fff;
}
.offcanvas .offcanvas-footer {
  background-color: #f5f8fa;
  height: 14%;
  border-top: 1px solid #00bda5;
}

.offcanvas .offcanvas-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offcanvas .offcanvas-footer .btns .btn-danger {
  background-color: #fff;
  border: 1px solid #ff7a53;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 24px;
  font-weight: 500;
  border-radius: 5px;
  color: #ff7a53;
}

.offcanvas .offcanvas-footer .btns .btn-secondary {
  background-color: #212125;
  border: none;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 24px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
}

.error_spot {
  color: red;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination span {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.pagination span:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .active {
  background-color: #007bff;
  color: #fff;
}
